:host {
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#map {
    background-color: #1e133b;
    border-color: gold;
    border-width: 3px;
    border-style: inset;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 600px;
    width: 600px;
    position: relative;
    display: flex;
}
